@page
@model IndexModel
@using Newtonsoft.Json.Linq

<h2>Clients from HaloPSA</h2>
@* <pre>@Model.ClientsJson</pre> *@
@if (Model.Clients != null && Model.Clients.Count > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
            @foreach (JObject client in Model.Clients)
            {
                <tr>
                    <td>@client["id"]</td>
                    <td>@client["name"]</td>
                    <td>@client["emailaddress"]</td>
                    <td>@client["phonenumber_preferred"]</td>
                    <td>@client["sitephonenumber"]</td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No clients found.</p>
}
